body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
body .imgbox img {
  width: 100%;
}

#carefor {
  padding: 20px;
}
#carefor .textbox h1 {
  font-weight: 700;
  font-size: 50px;
}
#carefor .textbox h3 {
  font-weight: 600px;
  font-size: 20px;
  color: #6b6a6a;
}
@media (max-width: 992px) {
  #carefor .textbox {
    text-align: center;
  }
  #carefor .textbox h1 {
    font-size: 30px;
  }
  #carefor .textbox h3 {
    font-size: 18px;
  }
  #carefor .imgbox {
    margin-top: 40px;
  }
}

#welcome {
  padding: 40px 0;
}
#welcome .textbox {
  padding: 80px;
}
#welcome .textbox h1 {
  font-weight: 700;
  font-size: 30px;
}
#welcome .textbox h3 {
  margin: 20px 0 40px;
  font-size: 20px;
  color: #868686;
}
#welcome .textbox h2, #welcome .textbox h6 {
  margin: 15px 0;
}
#welcome .textbox h2 {
  font-size: 33px;
}
#welcome .textbox h6 {
  font-size: 18px;
}
#welcome .textbox .btn {
  background-color: #a7b59f;
  border-radius: 20px;
  padding: 10px 30px;
  color: white;
}
#welcome .wid {
  width: 580px;
  padding: 0;
}
@media (max-width: 992px) {
  #welcome .textbox {
    padding: 15px;
  }
  #welcome .textbox h3 {
    font-size: 18px;
  }
  #welcome .textbox h2, #welcome .textbox h6 {
    margin: 10px;
  }
  #welcome .imgbox {
    padding: 10px;
  }
}

#aboutus {
  padding: 40px 0;
}
#aboutus .textbox {
  padding: 0 10px;
}
#aboutus .textbox h1 {
  font-weight: 700;
  font-size: 35px;
}
#aboutus .textbox h3, #aboutus .textbox p {
  margin: 20px 0 0;
  font-weight: 100;
  font-size: 20px;
  color: #a8a8a8;
  line-height: 1.6;
}
#aboutus .textbox p {
  font-size: 18px;
  color: #949494;
  line-height: 1.4;
}
#aboutus .textbox li {
  display: flex;
  padding: 20px 0 0 0;
}
#aboutus .textbox .icon {
  padding: 0 15px 0 0;
  color: #5e5656;
}
#aboutus .textbox h4 {
  color: #949494;
  font-size: 20px;
}
@media (max-width: 992px) {
  #aboutus .textbox {
    text-align: center;
  }
  #aboutus .textbox h1 {
    font-size: 30px;
  }
  #aboutus .textbox h3, #aboutus .textbox p {
    font-size: 18px;
  }
  #aboutus ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #aboutus .imgbox {
    margin: 50px 10px 0 10px;
  }
}

#ourtrainers {
  padding: 40px 0;
}
#ourtrainers h1 {
  font-weight: 700;
  font-size: 38px;
}
#ourtrainers h3, #ourtrainers h4 {
  font-weight: 300px;
  font-size: 20px;
  margin: 20px 0;
  color: #a8a8a8;
  line-height: 1.4;
}
#ourtrainers .box {
  margin: 0 5px;
}
#ourtrainers .box .textbox {
  padding: 15px 0;
}
#ourtrainers .box .textbox h2 {
  font-weight: 300;
  font-size: 25px;
  padding: 20px 0 0;
}
#ourtrainers .box ul {
  display: flex;
  flex-direction: row;
}
#ourtrainers .box ul li {
  margin: 0 10px;
  background-color: #d4cece;
  border-radius: 50%;
  padding: 20px;
  width: 10px;
  height: 10px;
}
#ourtrainers .box ul li .icon {
  margin: -7px;
}
#ourtrainers .wid {
  width: 580px;
}
#ourtrainers .wid .icon {
  font-size: 25px;
  color: #a8a8a8;
}
@media (max-width: 992px) {
  #ourtrainers h1 {
    font-size: 30px;
  }
  #ourtrainers h3, #ourtrainers h4 {
    font-size: 18px;
  }
  #ourtrainers .box .textbox {
    text-align: center;
  }
  #ourtrainers .box .textbox h2 {
    padding: 10px 0 0;
  }
  #ourtrainers .box ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

#pricingtable {
  padding: 40px 0;
}
#pricingtable .textbox {
  width: 580px;
  text-align: center;
}
#pricingtable .textbox h1 {
  font-weight: 700;
  font-size: 35px;
  margin: 15px;
}
#pricingtable .textbox h5 {
  font-weight: 200;
  font-size: 20px;
  color: #000000;
  margin: 40px;
}
#pricingtable .box {
  width: 340px;
  color: white;
  background-color: #708f97;
  padding: 50px 30px;
  text-align: center;
}
#pricingtable .box h2 {
  font-size: 25px;
}
#pricingtable .box h3 {
  font-size: 25px;
  margin: 20px 0 10px;
}
#pricingtable .box li {
  display: flex;
  justify-content: center;
  margin: 25px 0 0;
}
#pricingtable .box li h4 {
  font-size: 18px;
  margin: 0 0 0 10px;
}
#pricingtable .box .btn {
  padding: 10px 35px;
  margin: 30px 0 0;
  border-radius: 30px;
  background-color: #2b383c;
  color: white;
}
#pricingtable .box .PREMIUM-color {
  background-color: #41515a;
}
#pricingtable .box .PREMIUM-color .btn {
  background-color: #708f97;
}
@media (max-width: 992px) {
  #pricingtable .textbox h1 {
    font-size: 30px;
  }
  #pricingtable .textbox h3 {
    font-size: 18px;
  }
  #pricingtable .box {
    margin-top: 15px;
  }
}

#questions {
  padding: 40px 0;
}
#questions h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 15px 0;
}
#questions h3 {
  font-size: 20px;
  margin: 0 0 40px;
  line-height: 1.4;
}
#questions .icon {
  color: #d4cece;
}
#questions .icon i {
  font-size: 22px;
}
#questions .bigicon i {
  font-size: 30px;
}
@media (max-width: 992px) {
  #questions .textbox h1 {
    font-size: 30px;
  }
}

#doggerblog {
  padding: 40px 0;
}
#doggerblog .box {
  display: flex;
}
#doggerblog h1 {
  font-weight: 700;
  font-size: 35px;
}
#doggerblog h3 {
  font-size: 20px;
  margin: 30px 0 60px;
}
#doggerblog .textbox {
  margin: 0 0 0 20px;
}
#doggerblog .textbox h2 {
  font-size: 22px;
}
#doggerblog .textbox h4 {
  font-size: 18px;
  color: #aba8a8;
}
#doggerblog .textbox p {
  font-size: 18px;
  color: #8f8686;
}
#doggerblog .textbox p, #doggerblog .textbox h4 {
  margin: 20px 0 0;
}
#doggerblog .wid {
  width: 580px;
}

#ourservices {
  padding: 40px 0;
}
#ourservices .wid {
  width: 580px;
}
#ourservices h1 {
  font-weight: 700;
  font-size: 35px;
}
#ourservices h3 {
  font-size: 20px;
  color: #c6c6c6;
  margin: 30px 0;
}
#ourservices .textbox {
  padding: 30px 40px;
}
#ourservices .textbox h2 {
  font-size: 25px;
  color: #757575;
  margin: 20px 0 0;
}
#ourservices .textbox h3 {
  margin: 30px 0 0;
}
#ourservices .textbox .icon {
  font-size: 60px;
}/*# sourceMappingURL=style.css.map */